## --------------------------------------------------
#if ( $entity.isJoinEntity() )
#cancel("No DTO class for join entity")
#end
## --------------------------------------------------
#checkId($entity)
#parse("include/init_var_entity.vm")
#parse("include/java_header.vm")
##---------------------------------------------------------------------------------------
package ${ROOT_PKG}.domain.dto;


import java.io.Serializable;
#foreach( $import in $java.imports($entity) )
import $import;
#end
import lombok.Data;
import lombok.AllArgsConstructor;
import lombok.NoArgsConstructor;
import lombok.Builder;

/**
 * DTO class for "${entity.name}"
 *
 * @author Juan Manuel Beas
 *
 */
 @Data
 @AllArgsConstructor
 @NoArgsConstructor
 @Builder
public class ${dtoClass} implements Serializable {

    private static final long serialVersionUID = 1L;

    //--- PRIMARY KEY 
#foreach( $attribute in $entity.keyAttributes )
    private $attribute.type $attribute.name #if($attribute.hasInitialValue())= ${attribute.initialValue} #end;
#end
    //--- OTHER DATA FIELDS 
#foreach( $attribute in $entity.nonKeyAttributes )
    private $attribute.type $attribute.name #if($attribute.hasInitialValue())= ${attribute.initialValue} #end;
#end
#if ( $entity.hasLinks() )	
    //--- LINKS ( RELATIONSHIPS )
#foreach( $link in $entity.links )
    private ${link.fieldType}DTO $link.fieldName ; 
#end
#end

}